## Final Project Submission

Please fill out:
* Student name: Nyla Duperval
* Student pace: Part Time
* Scheduled project review date/time: 
* Instructor name: Victor Geislinger
* Blog post URL:

In [4]:
# Your code here - remember to use markdown cells for comments as well!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
rt_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding ='latin1')
tn_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', index_col='movie')

In [6]:
tn_budgets.dtypes

id                    int64
release_date         object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [7]:
tn_budgets['production_budget'] = tn_budgets['production_budget'].str.replace(',', '').str.replace('$', '').astype(int)

In [8]:
tn_budgets['domestic_gross'] = tn_budgets['domestic_gross'].str.replace(',', '').str.replace('$', '').astype(int)

In [9]:
tn_budgets['worldwide_gross'] = tn_budgets['worldwide_gross'].str.replace(',', '').str.replace('$', '').astype(float)

In [10]:
tn_budgets['release_date'] = tn_budgets['release_date'].str.replace(',', '')

In [11]:
tn_budgets['release_date'] = pd.to_datetime(tn_budgets['release_date'])

In [12]:
tn_budgets['year_of_release'] = tn_budgets['release_date'].map(lambda x: x.strftime('%Y'))

In [13]:
tn_budgets['year_of_release'] = pd.to_datetime(tn_budgets['year_of_release'])

In [14]:
tn_budgets.dtypes

id                            int64
release_date         datetime64[ns]
production_budget             int32
domestic_gross                int32
worldwide_gross             float64
year_of_release      datetime64[ns]
dtype: object

In [15]:
tn_budgets.loc[tn_budgets['domestic_gross'] == 0]

,id,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,,
Moonfall,95,2020-12-31,150000000,0,0.0,2020-01-01
Bright,80,2017-12-13,90000000,0,0.0,2017-01-01
Army of the Dead,81,2019-12-31,90000000,0,0.0,2019-01-01
Call of the Wild,36,2020-02-21,82000000,0,0.0,2020-01-01
AstÃ©rix et ObÃ©lix: Au service de Sa MajestÃ©,18,2012-12-31,77600000,0,60680125.0,2012-01-01
...,...,...,...,...,...,...
Stories of Our Lives,62,2014-12-31,15000,0,0.0,2014-01-01
Tin Can Man,65,2007-12-31,12000,0,0.0,2007-01-01
Family Motocross,72,2015-05-19,10000,0,0.0,2015-01-01
Red 11,78,2018-12-31,7000,0,0.0,2018-01-01
A Plague So Pleasant,81,2015-09-29,1400,0,0.0,2015-01-01

In [16]:
tn_budgets.loc[tn_budgets['worldwide_gross'] == 0]

,id,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,,
Moonfall,95,2020-12-31,150000000,0,0.0,2020-01-01
Bright,80,2017-12-13,90000000,0,0.0,2017-01-01
Army of the Dead,81,2019-12-31,90000000,0,0.0,2019-01-01
Call of the Wild,36,2020-02-21,82000000,0,0.0,2020-01-01
PLAYMOBIL,71,2019-08-30,75000000,0,0.0,2019-01-01
...,...,...,...,...,...,...
Stories of Our Lives,62,2014-12-31,15000,0,0.0,2014-01-01
Tin Can Man,65,2007-12-31,12000,0,0.0,2007-01-01
Family Motocross,72,2015-05-19,10000,0,0.0,2015-01-01
Red 11,78,2018-12-31,7000,0,0.0,2018-01-01
A Plague So Pleasant,81,2015-09-29,1400,0,0.0,2015-01-01

In [17]:
mark = (tn_budgets['domestic_gross'] > 0) & (tn_budgets['worldwide_gross'] > 0 )
new_df = tn_budgets[mark]
new_df

,id,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,,
Avatar,1,2009-12-18,425000000,760507625,2.776345e+09,2009-01-01
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,410600000,241063875,1.045664e+09,2011-01-01
Dark Phoenix,3,2019-06-07,350000000,42762350,1.497624e+08,2019-01-01
Avengers: Age of Ultron,4,2015-05-01,330600000,459005868,1.403014e+09,2015-01-01
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000,620181382,1.316722e+09,2017-01-01
...,...,...,...,...,...,...
Cavite,76,2006-05-26,7000,70071,7.164400e+04,2006-01-01
The Mongol King,77,2004-12-31,7000,900,9.000000e+02,2004-01-01
Following,79,1999-04-02,6000,48482,2.404950e+05,1999-01-01
Return to the Land of Wonders,80,2005-07-13,5000,1338,1.338000e+03,2005-01-01
My Date With Drew,82,2005-08-05,1100,181041,1.810410e+05,2005-01-01

In [18]:
new_df= new_df.drop('id', 1)

In [19]:
movie_gross = new_df[(new_df['year_of_release'] >= '2010') & (new_df['year_of_release'] <= '2020')]
movie_gross

,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,
Pirates of the Caribbean: On Stranger Tides,2011-05-20,410600000,241063875,1.045664e+09,2011-01-01
Dark Phoenix,2019-06-07,350000000,42762350,1.497624e+08,2019-01-01
Avengers: Age of Ultron,2015-05-01,330600000,459005868,1.403014e+09,2015-01-01
Star Wars Ep. VIII: The Last Jedi,2017-12-15,317000000,620181382,1.316722e+09,2017-01-01
Star Wars Ep. VII: The Force Awakens,2015-12-18,306000000,936662225,2.053311e+09,2015-01-01
...,...,...,...,...,...
Krisha,2016-03-18,30000,144822,1.448220e+05,2016-01-01
Down Terrace,2010-10-15,30000,9812,9.812000e+03,2010-01-01
Emily,2017-01-27,27000,3547,3.547000e+03,2017-01-01
Breaking Upwards,2010-04-02,15000,115592,1.155920e+05,2010-01-01
Newlyweds,2012-01-13,9000,4584,4.584000e+03,2012-01-01

In [20]:
grouped = movie_gross.groupby('year_of_release').size()
grouped

year_of_release
2010-01-01    246
2011-01-01    227
2012-01-01    200
2013-01-01    193
2014-01-01    191
2015-01-01    208
2016-01-01    192
2017-01-01    149
2018-01-01    137
2019-01-01     44
dtype: int64

In [ ]:
plt.figure(figsize=(720,720))
plt.bar(x = movie_gross['year_of_release'], y = movie_gross['production_budget'], label='Budget')


plt.xlabel('Year of Release')
plt.ylabel('Production Budget')
plt.xlim(0,9.6e9)
plt.ylim(0,2019)
           
plt.title('Movie Budgets by Year')
plt.legend()          
           
plt.show()