## Final Project Submission

Please fill out:
* Student name: Nyla Duperval
* Student pace: Part Time
* Scheduled project review date/time: 
* Instructor name: Victor Geislinger
* Blog post URL:

In [188]:
# Your code here - remember to use markdown cells for comments as well!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [189]:
rt_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding ='latin1')
tn_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', index_col='movie')

In [190]:
tn_budgets.head()

,id,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,
Avatar,1,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,2,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Dark Phoenix,3,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
Avengers: Age of Ultron,4,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,5,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"

In [191]:
tn_budgets.tail()

,id,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,
Red 11,78,"Dec 31, 2018","$7,000",$0,$0
Following,79,"Apr 2, 1999","$6,000","$48,482","$240,495"
Return to the Land of Wonders,80,"Jul 13, 2005","$5,000","$1,338","$1,338"
A Plague So Pleasant,81,"Sep 29, 2015","$1,400",$0,$0
My Date With Drew,82,"Aug 5, 2005","$1,100","$181,041","$181,041"

In [192]:
tn_budgets.columns

Index(['id', 'release_date', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [193]:
tn_budgets.dtypes

id                    int64
release_date         object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [194]:
tn_budgets['production_budget'] = tn_budgets['production_budget'].str.replace(',', '').str.replace('$', '').astype(int)

In [195]:
tn_budgets['domestic_gross'] = tn_budgets['domestic_gross'].str.replace(',', '').str.replace('$', '').astype(int)

In [196]:
tn_budgets['worldwide_gross'] = tn_budgets['worldwide_gross'].str.replace(',', '').str.replace('$', '').astype(float)

In [197]:
tn_budgets['release_date'] = tn_budgets['release_date'].str.replace(',', '')

In [198]:
tn_budgets['release_date'] = pd.to_datetime(tn_budgets['release_date'])

In [199]:
tn_budgets['year_of_release'] = tn_budgets['release_date'].map(lambda x: x.strftime('%Y'))

In [200]:
tn_budgets.dtypes

id                            int64
release_date         datetime64[ns]
production_budget             int32
domestic_gross                int32
worldwide_gross             float64
year_of_release              object
dtype: object

In [201]:
tn_budgets.loc[tn_budgets['production_budget'] < 100000]

,id,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,,
The Last House on the Left,100,1972-08-30,87000,3100000,3100000.0,1972
The Foot Fist Way,1,2008-05-30,79000,234286,234286.0,2008
Dawn of the Crescent Moon,2,2015-07-17,75000,8799,8799.0,2015
Queen Crab,3,2015-09-29,75000,0,0.0,2015
Happy Christmas,4,2014-07-25,70000,30312,30312.0,2014
...,...,...,...,...,...,...
Red 11,78,2018-12-31,7000,0,0.0,2018
Following,79,1999-04-02,6000,48482,240495.0,1999
Return to the Land of Wonders,80,2005-07-13,5000,1338,1338.0,2005
A Plague So Pleasant,81,2015-09-29,1400,0,0.0,2015
My Date With Drew,82,2005-08-05,1100,181041,181041.0,2005

In [173]:
tn_budgets.drop(columns='release-date')

,id,release_date,production_budget,domestic_gross,worldwide_gross,year_of_release
movie,,,,,,
Avatar,1,2009-12-18,425000000,760507625,2.776345e+09,2009
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,410600000,241063875,1.045664e+09,2011
Dark Phoenix,3,2019-06-07,350000000,42762350,1.497624e+08,2019
Avengers: Age of Ultron,4,2015-05-01,330600000,459005868,1.403014e+09,2015
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000,620181382,1.316722e+09,2017
...,...,...,...,...,...,...
Red 11,78,2018-12-31,7000,0,0.000000e+00,2018
Following,79,1999-04-02,6000,48482,2.404950e+05,1999
Return to the Land of Wonders,80,2005-07-13,5000,1338,1.338000e+03,2005
A Plague So Pleasant,81,2015-09-29,1400,0,0.000000e+00,2015
My Date With Drew,82,2005-08-05,1100,181041,1.810410e+05,2005

In [174]:
tn_budgets.loc[tn_budgets['domestic_gross'] == 0]

,id,release_date,production_budget,domestic_gross,worldwide_gross,release-date,year_of_release
movie,,,,,,,
Moonfall,95,2020-12-31,150000000,0,0.0,2020,2020
Bright,80,2017-12-13,90000000,0,0.0,2017,2017
Army of the Dead,81,2019-12-31,90000000,0,0.0,2019,2019
Call of the Wild,36,2020-02-21,82000000,0,0.0,2020,2020
AstÃ©rix et ObÃ©lix: Au service de Sa MajestÃ©,18,2012-12-31,77600000,0,60680125.0,2012,2012
...,...,...,...,...,...,...,...
Stories of Our Lives,62,2014-12-31,15000,0,0.0,2014,2014
Tin Can Man,65,2007-12-31,12000,0,0.0,2007,2007
Family Motocross,72,2015-05-19,10000,0,0.0,2015,2015
Red 11,78,2018-12-31,7000,0,0.0,2018,2018
A Plague So Pleasant,81,2015-09-29,1400,0,0.0,2015,2015

In [175]:
tn_budgets.loc[tn_budgets['worldwide_gross'] == 0]

,id,release_date,production_budget,domestic_gross,worldwide_gross,release-date,year_of_release
movie,,,,,,,
Moonfall,95,2020-12-31,150000000,0,0.0,2020,2020
Bright,80,2017-12-13,90000000,0,0.0,2017,2017
Army of the Dead,81,2019-12-31,90000000,0,0.0,2019,2019
Call of the Wild,36,2020-02-21,82000000,0,0.0,2020,2020
PLAYMOBIL,71,2019-08-30,75000000,0,0.0,2019,2019
...,...,...,...,...,...,...,...
Stories of Our Lives,62,2014-12-31,15000,0,0.0,2014,2014
Tin Can Man,65,2007-12-31,12000,0,0.0,2007,2007
Family Motocross,72,2015-05-19,10000,0,0.0,2015,2015
Red 11,78,2018-12-31,7000,0,0.0,2018,2018
A Plague So Pleasant,81,2015-09-29,1400,0,0.0,2015,2015

In [176]:
gross = (tn_budgets['domestic_gross'] > 0) & (tn_budgets['worldwide_gross'] > 0 )
new_df = tn_budgets[gross]
new_df

,id,release_date,production_budget,domestic_gross,worldwide_gross,release-date,year_of_release
movie,,,,,,,
Avatar,1,2009-12-18,425000000,760507625,2.776345e+09,2009,2009
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,410600000,241063875,1.045664e+09,2011,2011
Dark Phoenix,3,2019-06-07,350000000,42762350,1.497624e+08,2019,2019
Avengers: Age of Ultron,4,2015-05-01,330600000,459005868,1.403014e+09,2015,2015
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000,620181382,1.316722e+09,2017,2017
...,...,...,...,...,...,...,...
Cavite,76,2006-05-26,7000,70071,7.164400e+04,2006,2006
The Mongol King,77,2004-12-31,7000,900,9.000000e+02,2004,2004
Following,79,1999-04-02,6000,48482,2.404950e+05,1999,1999
Return to the Land of Wonders,80,2005-07-13,5000,1338,1.338000e+03,2005,2005
My Date With Drew,82,2005-08-05,1100,181041,1.810410e+05,2005,2005

In [186]:
movie_gross = tn_budgets[(tn_budgets['year_of_release'] > '2010') & (tn_budgets['year_of_release'] <= '2020')]
movie_gross

,id,release_date,production_budget,domestic_gross,worldwide_gross,release-date,year_of_release
movie,,,,,,,
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,410600000,241063875,1.045664e+09,2011,2011
Dark Phoenix,3,2019-06-07,350000000,42762350,1.497624e+08,2019,2019
Avengers: Age of Ultron,4,2015-05-01,330600000,459005868,1.403014e+09,2015,2015
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000,620181382,1.316722e+09,2017,2017
Star Wars Ep. VII: The Force Awakens,6,2015-12-18,306000000,936662225,2.053311e+09,2015,2015
...,...,...,...,...,...,...,...
Stories of Our Lives,62,2014-12-31,15000,0,0.000000e+00,2014,2014
Family Motocross,72,2015-05-19,10000,0,0.000000e+00,2015,2015
Newlyweds,73,2012-01-13,9000,4584,4.584000e+03,2012,2012
Red 11,78,2018-12-31,7000,0,0.000000e+00,2018,2018
A Plague So Pleasant,81,2015-09-29,1400,0,0.000000e+00,2015,2015

In [187]:
grouped = movie_gross.groupby('year_of_release').size()
grouped

year_of_release
2011    254
2012    235
2013    238
2014    255
2015    338
2016    219
2017    168
2018    143
2019     67
2020      3
dtype: int64